.App {
  width: 100%;
  min-width: 420px;
  padding: 15px;
  margin: auto;
  background-color: #01131B;
  color: white;
  min-height:300px;
}
ul{
  list-style: none;
  padding: 0px;
}
.card-tag {
  padding: 2px 4px;
  color: #fff;
  font-size: 10px;
}
.card-tag.green {
  color: #42b72a;
}
li{
  padding: 6px;
    border-bottom: 1px dotted #ececec
}
.card-tag.red {
color: #ff4842;
}
.indicator-header {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.indicator-sub-header {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
.indicator-variable-section {
  background-color: #fff;
  min-height: 60px;
  font-size: 14px;
  padding: 10px;
}
.left {
  float: left;
  display: inline-block;
  color:black
}
.right {
  float: right;
  display: inline-block;
}
body{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    justify-content: center
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 768px) {
  .App {
    min-width: auto;
  }
  .card-tag {
    font-size: 8px;
  }
  .card-title {
    font-size: 16px;
  }
  
  .card-tag {
    font-size: 8px;
  }

}

/* Styles for screens with width between 769px and 1200px */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .App {
    min-width: 320px;
  }
   
  .card-title {
    font-size: 18px;
  }
  
  .card-tag {
    font-size: 10px;
  }
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
